<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	{%load static%}
	<link rel="stylesheet" href="{% static 'restful_user/css/bootstrap.css' %}">
</head>
<body>
<div class="jumbotron">

	<h1>User # {{user.id}}</h1>
</div>
<div class="container">

	<ul>
		<li>Full Name: {{user.first_name}} {{user.last_name}}</li>
		<li>Email: {{user.email}}</li>
		<li>Created at: {{user.created_at}}</li>
	</ul>
	<a href="/users/{{user.id}}/edit">Edit</a>
	<a href="/users/{{user.id}}/destroy">Delete</a>
	<a href="/users">Go Back</a>

</div>
</body>
</html>